<main>
    <div class="containerChatPrincipal">
        <label for="">Ingrese su mensaje:</label>
        <input type="text" id="chatbox">
        <div class="bg-warning m-2">
            <p class="d-flex" id="logs"></p>
        </div>
    </div>
        
</main>
