<main>
{{!--     <div class="containerConnected">
        <h3 class="textColor">Conectados</h3>
        <div class="col containerUsersCel mb-2 textColor">
            <p id="connectedPeople"></p>
        </div>
    </div> --}}
    <div class="d-flex">
        <div class="">
            <label class="textColor">Ingrese su mensaje:</label>
            <div class="d-flex justify-content-between">
                <div class="col-9">
                    <input type="text" class="chatbox m-2" id="chatbox">
                </div>
                <div class="col text-center m-2">
                    <button class="sendButton" id="sendButton">OK</button>
                </div>
            </div>
            <div class="m-2">
                <p class="d-flex textColor" id="logs"></p>
            </div>
        </div>
{{!--         <div class="col containerUsers">
            <div class="">A</div>
        </div> --}}
    </div>
        
</main>
