/* Gris oscuro #393D40
Gris claro: #F1EDEA
Gris medio: #636363
Naranja: #EE7500
piel: #D69764
 */

body {
    background-color: #383b3d;
}

.textColor {
    color: white;
}

.iconChat {
    width: 50px;
}

.containerChatPrincipal {
    background: #F1EDEA;
}